<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>History</key>
	<dict>
		<key>info</key>
		<string>
1877
Initial proposal for a provincial university made by Superintendent of Education John Jessop, only six years after British Columbia joined Canada, with the total population still less than 50,000.

1890
An Act Respecting the University of British Columbia passed by the provincial legislature. However, the political rivalry between Vancouver Island and the mainland leads to a dispute about where the university should be located.

1891
The first meeting of the new university&apos;s senate in Victoria (Vancouver Island) fails to reach quorum when some members from the mainland fail to attend. A second meeting is never held, and the Act is allowed to lapse.

1899
Vancouver High School establishes Vancouver College, affiliated with Montreal&apos;s McGill University.

1906
Vancouver College is taken over by McGill and renamed McGill University College of British Columbia. McGill University College offers only two-year programmes in arts and sciences; students still have to go elsewhere to complete their degrees.

1907
University Endowment Act provides for the funding of a provincial university through the sale of up to two million acres of Crown land in central and northern British Columbia.

1908
Provincial legislature passes a new University Act establishing the University of British Columbia. It provides for a Chancellor, a Convocation, a President, a Board of Governors to manage the University&apos;s administrative, property, and business affairs, and a Senate to administer academic matters. Convocation is initially to include all graduates of British or Canadian universities resident in the province, plus 25 members chosen by the provincial government; after its first meeting, it is to consist of members of the first Convocation, plus members of Senate and all graduates of the University. The &quot;Act&quot; also declares the University to be non-sectarian and co-educational.

1910
After a province-wide survey, Point Grey, near Vancouver, is selected as the site of the UBC campus.

1912
First meeting of Convocation. Election of Dr. Francis Carter-Cotton, head of MUCBC, as first Chancellor.

1913
Dr. Frank Fairchild Wesbrook appointed first President of UBC.
Architectural firm of Sharp and Thompson (later Thompson, Berwick, Pratt and Partners) appointed University Architects, after winning a campus planning and design competition.

1914
Construction of first permanent buildings at Point Grey begins. Outbreak of First World War halts work the next year, with only land-clearance and the frame of the Science Building completed.
Librarian J.T. Gerould from the University of Minnesota, hired to purchase books in Europe, is arrested as a spy in Leipzig, Germany when war breaks out; the incriminating &quot;evidence&quot; is a copy of the UBC site plan in his baggage.

1915
University of British Columbia opens in temporary headquarters at the former McGill University College facilities adjacent to Vancouver General Hospital (nicknamed the Fairview &quot;shacks&quot; after the surrounding neighbourhood). There are three faculties: Arts, Applied Science, and Agriculture. Student enrolment in September is 379. Full- and part-time faculty number 34.
Alma Mater Society (student union) formed.
Military training included in curriculum for duration of the war. By the end of the First World War, 697 students would see active military service – 78 would be killed in action.

1916
John Ridington appointed first University Librarian.

1918
President Wesbrook dies, and is succeeded the following year by Dean of Agriculture Dr. Leonard S. Klinck.

1919
The return of students from war-time duty increases enrolment to 890 for 1919-20. The &quot;shacks&quot; quickly become over-crowded, with classes being held in tents, churches, and Sunday schools; however, construction at Point Grey is not resumed.
The University offers first degree programme in nursing in the British Empire.

1920
Victoria College opens in affiliation with UBC.
The University imposes first tuition fees of $40 per year.
&quot;University Endowment Act&quot; amended: rights to Crown lands in the interior exchanged for 3000 acres adjacent to the Point Grey site, which are intended for sale as residential properties.

1922
Tired of over-crowded conditions (full-time enrolment reaches 1200 for 1921-22), students organize province-wide publicity campaign to persuade the government to complete the Point Grey campus. The &quot;Build the University&quot; campaign climaxes in a parade (the &quot;Great Trek&quot;) from downtown Vancouver to Point Grey, and the presentation of a petition with 56,000 signatures to the Speaker of the Legislature in Victoria. The government authorizes a $1.5 million loan to resume construction. The campaign marks the beginning of active student involvement in the University&apos;s development.

1923
Government lets contracts for completion of Point Grey buildings: the Science building (today part of the Chemistry building), the Library, a power plant, and nine &quot;semi-permanent&quot; buildings (Arts, Agriculture, Applied Science, Administration, the Auditorium, and four laboratory/workshop buildings, most of which are still in use today).

1925
UBC opens its Point Grey campus. As part of the inauguration ceremonies, the University holds a special Congregation to award its first honorary degrees.

1929
The first gymnasium, built with funds raised by students, is presented to the University.

1932
Great Depression forces reduction in University operating grants by provincial government. Students mount successful publicity campaign against a suggestion that the University be closed; however, the budget is reduced from $626,000 to $250,000 and salaries are reduced. The resulting disputes between President Klinck, the Board, and the Senate eventually lead to amendments to the University Act in 1935 which re-organizes the University government.

1934
UBC athletic teams adopt the nickname &quot;Thunderbirds&quot;.

1936
Establishment of Department of University Extension (today&apos;s Continuing Studies), which provides post-secondary education around the province and year-round.

1937
Students contribute funds toward construction of UBC Stadium.

1939
Enrolment reaches 2400 students.
Registration in campus C.O.T.C. (Canadian Officer Training Corps) unit doubles as Second World War begins. A total of 1680 students would eventually enlist in the armed services. Of that total, 169 would &quot;make the ultimate sacrifice&quot;, including R. Hampton &quot;Hammy&quot; Gray, posthumously awarded the Victoria Cross.

1940
Students contribute to the construction of the first student union building, Brock Hall (right).

1941
Students waive army pay to help construct Armoury. Campus army unit reaches maximum strength of 1879, and many faculty members are on leave for special war-time duty.
Federal government funding for defence and other research purposes increases.

1944
Dr. Norman A.M. MacKenzie appointed UBC&apos;s third President.
First student residences opened at Acadia and Fort Camps.

1945
University begins a period of post-war academic expansion by inaugurating the Faculty of Law, and establishing new programmes in social work, pharmacy, home economics, and physical education. To accomodate the new programmes and expanding enrolment, fifteen abandoned army and air force camps are dismantled and shipped to Point Grey, where the huts serve as classrooms, laboratories, and residences for both students and faculty. A few are still in use today, mainly for storage purposes.

1947
Enrolment swells to 9374, with war veterans making up some 50 percent.
Postwar construction would add more than twenty new buildings by 1951, including facilities for physics, engineering, and biological sciences, as well as the Library&apos;s north wing.
Opening of the first Faculty Club, in a surplus army hut originally used as an officers&apos; mess.

1948
Van de Graff atomic generator installed in Hennings (Physics) Building – one of many government-supported post-war research initiatives.
During half-time at the UBC Homecoming football game, Chief William Scow, on behalf of the Kwicksutaineuk people, officially sanctioned the use of the name &quot;Thunderbird&quot; for the University&apos;s athletic teams and facilities. During the ceremony, native carvers Ellen and Ted Neal presented a twenty-two foot totem pole which served to sanctify the occasion.

1949
Faculties of Pharmacy and Medicine established.
Faculty of Graduate Studies established to administer masters and Ph.D. programmes.
First Museum of Anthropology opened in the basement of the Library.

1950
Schools of Commerce and Education established.

1951
Student initiative leads to construction of War Memorial Gymnasium, as a memorial to British Columbia&apos;s war dead. Mounted in the gymnasium are plaques of the University&apos;s &quot;honour rolls&quot; – lists of students who lost their lives in the two World Wars.
First women&apos;s residences opened.
Faculty of Forestry – formerly a department in Applied Science – established, along with the School of Nursing.

1954
British Empire Games swimming and diving events held at newly-constructed pool adjacent to War Memorial Gymnasium.
Brock Hall partially destroyed by fire. Restoration funded by donations from students and alumni.

1956
Construction of Buchanan Building for Faculty of Arts and Science begins.
Schools of Commerce and Education promoted to Faculty status.
UBC incorporates the Sopron School of Forestry from Hungary, after students and faculty flee their homeland in the wake of the failed anti-Soviet revolution of 1956. They formed the Sopron Division of the Faculty of Forestry, with their own curriculum taught primarily in Hungarian.

1958
University celebrates its &quot;Golden Jubilee&quot; and launches the &quot;UBC Development Fund&quot;, the first public appeal for capital funds by any Canadian university. Fund drive and government contributions together raise $35 million.

1959
International House, a meeting place for UBC students from outside Canada, officially opened by Eleanor Roosevelt.
Opening of new Faculty Club and University Social Centre, donated by Leon and Thea Koerner.

1960
Construction of the Library&apos;s south wing, made possible by a substantial gift from Walter C. Koerner, completed, housing an undergraduate library (later named the Sedgewick Library, after former English Department head and Shakespearean scholar Garnett G. Sedgewick) and a Special Collections Division.
Dr. William Holland arrives to head the new Department of Asian Studies, bringing with him the library and records of the Institute of Pacific Relations, which had closed its New York office in the wake of allegations of Communist influence.

1961
Schools of Librarianship and Rehabilitation Medicine open.

1962
Dr. John B. Macdonald becomes UBC&apos;s fourth President.

1963
Report by President Macdonald on the future of higher education in British Columbia. A new university and a network of community colleges are among the recommendations.
Provincial government passes new Universities Act, which provides for the incorporation of the University of Victoria (formerly Victoria College) and Simon Fraser University.

1964
A gift of $3.5 million by Dr. P.A. Woodward assures continuing development of UBC&apos;s Health Sciences Centre, including classroom facilities, a bio-medical library, and a hospital.
Faculty of Arts and Science splits.
First class enrols in new Faculty of Dentistry.

1965
Forestry magnate H.R. MacMillan gives $3 million to expand Library book collection. This coincides with the decentralization of Library system, eventually leading to establishment of thirteen branch libraries around the campus and elsewhere in Vancouver, housing over three million books.
University begins largest expansion programme in its history, building South Campus research area.
(UBC-O) Based on the recommendations of the Macdonald Report, Okanagan College opens its first campus in Kelowna. Other campuses would later be established in Penticton, Vernon, and Salmon Arm.

1967
First four students elected to University Senate.
&quot;Yorkeen&quot; mansion, at north end of campus, purchased by Cecil Green (former UBC student and co-founder of Texas Instruments) and donated to the University. Renamed Cecil Green Park House, today it houses the University&apos;s Development Office and the UBC Alumni Association.

1968
New Student Union Building (SUB) completed. Brock Hall turned over to student services and administration.
American &quot;Yippie&quot; leader Jerry Rubin leads student sit-in at UBC Faculty Club. Occupation ends without violence 22 hours later.
(UBC-O) Okanagan College begins offering university transfer courses.

1969
Popular University alumnus, mathematics professor, and administrator Dr. Walter H. Gage appointed President.

1970
UBC enrolment numbers 20,936 students.

1971
UBC becomes first university in Canada to offer Women&apos;s Studies programme for academic credit.

1972
UBC Senate adopts report advocating new emphasis on opportunities for part-time degree study.

1973
Sedgewick Undergraduate Library moves to underground facilities west of Main Library (right).
Investment in UBC buildings from 1915 to 1973 totals more than $173 million.
Senate approves recommendations for election of 196 students as full voting members of UBC&apos;s twelve faculties.
Enrolment in credit and non-credit programmes at Point Grey and throughout British Columbia totals 66,508 students.

1974
Senate committee proposes priorities for 16 building projects, costing an estimated $35 million, for period 1975-1980.
Tri-University Meson Facility (TRIUMF) opened in South Campus area, housing giant cyclotron used for research in nuclear and particle physics.

1975
Former Dean of Arts Dr. Douglas T. Kenny appointed President of UBC.

1976
Opening of the new Museum of Anthropology, designed by famed Canadian architect Arthur Erickson. Partially funded by the Canadian government, the Museum features outstanding collections of Northwest Coast First Nations art (interior and exterior views).
Establishment of Centre for Human Settlements at UBC, in connection with the United Nations Conference on Human Settlement (Habitat &apos;76) in Vancouver.

1977
UBC begins teacher education programme in Whitehorse, Yukon Territory.

1979
UBC awards its 100,000th degree.

1980
Final phase of Health Sciences Centre opens. The Koerner Pavilion, named for Walter C. Koerner, includes an Acute Care Hospital.

1981
Opening of Asian Centre, which houses the Department of Asian Studies and an Asian Library, and which is adjacent to the classical Japanese Nitobe Memorial Garden.
Discovery Park UBC established in South Campus area, on land leased to the provincial government for use as a research facility.

1982
A University budget shortfall of $7.5 million, and provincial government&apos;s refusal to provide additional funding, forces UBC to raise tuition fees an average of 32.8%, and consider cutting faculty and support staff. Student protests, including a campus-wide &quot;day of mourning&quot;, have little effect.

1983
Dr. K. George Pederson appointed President.

1984
Faced with continuing financial constraints, Senate votes to limit first-year enrolment for 1984-85, and the Board of Governors raises tuition fees an average of 33%.

1985
President Pederson resigns in protest against provincial government cuts in post-secondary funding. Dr. Robert H.T. Smith appointed President pro tem. Later in the year, Dr. David W. Strangway is named University President.

1986
Provincial government announces &quot;Fund for Excellence In Education&quot;, to be shared by all three provincial universities to support &quot;Centres of Excellence&quot; in certain areas of research and instruction.

1988
UBC Real Estate Corporation (now UBC Properties Trust) founded to develop the University&apos;s real estate assets, for capital fund or endowment purposes. Its first project is Hampton Place, a residential development near the south end of campus (architectural rendering, left). It would later plan and develop a series of residential neighbourhoods around the campus, collectively known as &quot;University Town&quot;.
Computerized telephone course registration system, known as TELEREG, introduced. This replaces the on-campus &quot;arena scheduling&quot; system, which required students to physically walk across campus from department to department to register for courses.

1989
Launching of &quot;The UBC Campaign&quot;, with its theme &quot;A World of Opportunity&quot;. Its goal is to raise $66 million in private and corporate donations, with the provincial government to provide equal matching funds, to pay for new buildings, facilities, programmes, and scholarships. Overwhelmingly successful, by the time it ends in 1993 the campaign will have raised a total of $262 million.
Pacific Spirit Regional Park created from undeveloped areas of University Endowment Lands.
(UBC-O) UBC enters into partnership with Okanagan College and Cariboo College (Kamloops), allowing the Colleges to provide third- and fourth-year courses leading to degrees in Arts and Science. Similar arrangements are made between Okanagan College and the University of Victoria regarding courses in education and nursing. The first degrees under this arrangement would be granted by Okanagan College in the name of UBC in 1991.
UBC President David Strangway with 75th Anniversary mascots

1990
UBC celebrates the 75th anniversary of its opening with a series of special events, including the largest Open House in its history (President David Strangway with &quot;letter people&quot; mascots).

1992
Undergraduate and graduate enrolment for the 1992-93 academic year totals 30,579 students. Registration for non-credit courses exceeds 85,000. Full-time faculty number 1851, and support staff number 3774. Expenses for 1991-92 totalled $328,011,000, and funding for research (both grants and contracts) totalled $116,957,082.
Release of a new Main Campus Plan, following those of 1959, 1968, and 1982. It is intended to direct the growth and evolution of the Point Grey campus to the year 2000 and beyond.
Ritsumeikan House opens for students from UBC&apos;s exchange programme with Ritsumeikan University in Kyoto, Japan.
(UBC-O) To reflect its increasing role as a post-secondary institution, Okanagan College informally adopts the name &quot;Okanagan University College&quot; (OUC). The name change would be formalized by provincial legislation in 1995.

1993
U.S. President Bill Clinton and Russian President Boris Yeltsin meet at UBC during the &quot;Vancouver Summit&quot;.
First Nations House of LearningOpening of First Nations House of Learning. Built of western red cedar, with a copper-clad roof, its design is based on that of a Coast Salish longhouse. It houses First Nations education programmes, counselling services, and cultural events, and generally serves as a &quot;home away from home&quot; for some 250 First Nations students attending UBC.
Opening of Green College, a residential graduate college designed to foster an &quot;interdisciplinary community&quot; among visiting scholars and students.
Dr. Michael SmithUBC biochemistry professor Michael Smith (right) receives the Nobel Prize in Chemistry for his pioneering work in the development of &quot;site directed mutagenesis&quot;, a technique which allows gene sequences to be altered in a designated manner for use in medical and biological research.
(UBC-O) OUC opens its main North Kelowna campus.

1995
Opening of C.K. Choi Building, for the Institute of Asian Research. Constructed largely of recycled materials (including timber beams from the demolished Armoury), it embodies the most advanced environmental design principles.
(UBC-O) The provincial College and Institute Act grants OUC and other regional colleges the authority to grant undergraduate degrees in their own name. OUC would award its first such degrees in 1998.

1996
Undergraduate admissions policy revised by Senate, enabling faculties to use criteria such as leadership abilities and career-related work experience for admitting students directly from high school.
Establishment of St. John&apos;s College, a residential graduate college, and the Sing Tao School of Journalism announced. Both would officially open the following year.
Completion of Walter C. Koerner Central Library, which combines Sedgewick Library with a new five-storey building.

1997
Dr. Martha C. Piper appointed UBC&apos;s new President.
The Asia-Pacific Economic Co-operation (APEC) Economic Leaders&apos; Meeting is hosted by the federal government at the UBC Museum of Anthropology. Approximately 1,500 protesters come to the campus to voice their concerns that APEC discussions aimed at liberalizing trade between participating countries would not include any reference to human rights and social and environmental issues. Clashes between protestors and police would lead to a number of legal actions and an official inquiry.

1998
First Annual General Meetings held – one in downtown Vancouver, the other on campus. The meetings are intended to inform both the University community and the general public about UBC&apos;s goals for the future, key accomplishments of the past year, and its financial position.
Board of Governors approves Trek 2000, a vision document presenting the University&apos;s goals and principles for the 21st century, and identifying key targets and strategies to attain them.
Faculty of Forestry moves from the Macmillan Building, which it had shared with Agricultural Sciences, to the Forest Sciences Centre. A fundraising campaign, providing opportunities to name certain facilities in the Forest Sciences Centre, attracted support from the B.C. forest industry, with UBC providing matching funds.

2000
Completion of Donald Rix Building, named after the UBC professor of pathology and entrepreneur who contributed to the cost of the building, and built to accommodate companies created on the basis of UBC research. There are 22 private companies located on campus. Most of these are UBC spin-offs, with the remainder having research relationships with the University. Profits from lease agreements with these companies are fed back into UBC research.

2001
The Wallace B. Chung and Madeline H. Chung Collection and Reading Room opens in Main Library. Originally donated in 1999, the collection is considered a national treasure and valued in the millions of dollars. It consists of more than 25,000 items and focuses on the exploration of the Pacific Northwest, the Chinese experience in North America, the history of British Columbia, and the Canadian Pacific Railway Company.
Opening of UBC at Robson Square, located in downtown Vancouver. Both credit and non-credit courses are taught at the new campus, primarily from Commerce and Continuing Studies. Public lectures in a broad range of cultural and community themes are also presented. UBC at Robson Square also houses the Women&apos;s Resource Centre, as well as library and bookstore facilities.
TELEREG course registration system eliminated in favour of an Internet-based system via the UBC Student Services website.
UBC collaborates with Simon Fraser University, British Columbia Institute of Technology, and Emily Carr Institute of Art and Design to establish Great Northern Way Campus, on land donated by Finning International in the &quot;False Creek Flats&quot; area of Vancouver. GNWC is intended to provide an integrated environment for innovative education and research initiatives in the arts, digital media, and environmental technology.

2002
Completion of the Chapman Learning Commons in the 5th-floor concourse of the Main Library. The Commons features group study space, learning resources, and state-of-the-art computing and Internet facilities.

2003
Faculty of Commerce and Business Administration changes its name to Sauder School of Business, to honour a $20 million gift from forest industry leader and former UBC Chancellor William L. Sauder.
Main Library interior during reconstructionConstruction begins on the Irving K. Barber Learning Centre, to be built around the heritage core of Main Library (interior during reconstruction). It is named for forest industry leader Irving K. &quot;Ike&quot; Barber, who donated $20 million for its construction (UBC and the provincial government provided matching funding), and is intended to house Library collections, academic programmes, and study spaces.

2004
Opening of the Michael Smith Laboratories, a $30-million biotechnology research facility at UBC Vancouver, housing the former UBC Biotechnology Laboratory and named after the Nobel Laureate who died in 2000.
UBC Okanagan campus, Kelowna UBC Okanagan campus, Kelowna (UBC-O) Announcement of the merger of UBC and Okanagan University College in March 2004. UBC Okanagan would open on the site of OUC&apos;s North Kelowna campus in September 2005 (right) – at the same time, other OUC campuses would be reorganized to form Okanagan College.
(UBC-O) Board of Governors approves a $18.4 million construction plan for new student residences at UBC Okanagan.
(UBC-O) Irving K. Barber provides $12.25 million endowment to establish UBC Okanagan&apos;s Irving K. Barber School of Arts and Sciences.

2005
After a lengthy re-visioning process, the Faculty of Agricultural Sciences is re-named the Faculty of Land and Food Systems &quot;to better reflect the diversity of its academic programs and research initiatives&quot;.
Official launch of revised vision document Trek 2010.
(UBC-O) Formal transition of OUC to Okanagan College and UBC Okanagan. UBC Okanagan&apos;s official opening ceremony is in September.

2006
Dr. Stephen J. Toope is appointed UBC&apos;s twelfth president.
(UBC-O) Dr. Doug Owram is appointed UBC Okanagan&apos;s Deputy Vice-Chancellor.
(UBC-O) First Convocation ceremony at UBC Okanagan.
(UBC-O) UBC alumnus and Canadian diamond-mining pioneer Charles Fipke donates $6 million to UBC Okanagan for a new centre for innovative research.

2008
Official opening of the Irving K. Barber Learning Centre at UBC Vancouver (architectural rendering). The Learning Centre houses UBC Library collections (including an automated storage and retrieval system) and reference services, as well as the Chapman Learning Commons, the Chung Collection, and the University Archives. It also includes lecture halls, classrooms, meeting and study spaces, and seminar rooms to support UBC&apos;s interdisciplinarity and information studies programmes.

2009
UBC&apos;s renewed strategic plan -- Place and Promise: The UBC Plan -- is launched in November, in a comprehensive public relations campaign utilizing print, broadcast, and digital media.

2010
UBC-Vancouver is one of the host sites for the 2010 Olympic and Paralympic Winter Games. Events are held at the Doug Mitchell Thunderbird Sports Centre, and UBC Robson Square is leased as the site of the International Media Centre -- both facilities are improved and enhanced as post-Olympic legacies for the University.
The Beaty Biodiversity Museum is officially opened, bringing together UBC&apos;s various zoological and botanical collections in one facility, providing a new home for the University&apos;s biodiversity researchers, and featuring Canada’s largest blue whale skeleton exhibit.


		</string>
	</dict>
	<key>About</key>
	<dict>
		<key>info</key>
		<string>
The University of British Columbia (commonly referred to as UBC) is a public research university located in Vancouver, Canada. UBC’s two main campuses are situated in Vancouver and in Kelowna in the Okanagan Valley. UBC operates smaller speciality and satellite campuses located at Great Northern Way Campus and Robson Street, both in Vancouver proper. The 4.02-square-kilometre (993-acre) main campus is located within the University Endowment Lands, an unincorporated community on Point Grey, 10 km (6.2 mi) from downtown Vancouver. The 2.09-square-kilometre (516-acre) Okanagan campus is situated about 20 minutes from downtown Kelowna.

A body politic and corporation by the name of The University of British Columbia was first incorporated April 26, 1890. Subsequent enactments culminating on March 7, 1908 with another University Act gave the University its current form. The first day of lectures was September 30, 1915. On September 22, 1925, lectures began on the new Point Grey campus. The enabling legislation are the University Act and the University Amendment Act, 2004. The university is the oldest in British Columbia and has the largest enrolment with over 54,000 students at its Vancouver and Okanagan campuses combined. The university library, which comprises 5.9 million books and journals, is the second-largest research library in Canada.

The University of British Columbia is ranked second in Canada and 37th worldwide in the Academic Ranking of World Universities, second in Canada and 22nd worldwide in the Times Higher Education rankings, third in Canada and 51st globally in the QS World University Rankings, and second in Canada and eighth overall in Newsweek&apos;s ranking of top universities outside of the United States. The university has been affiliated with five Nobel laureates.

		</string>
	</dict>
	<key>Map</key>
	<dict/>
</dict>
</plist>
